.App {
  padding: 0px 160px;
}

@media screen and (max-width: 1024px) {
  .App {
    padding: 0px 50px;
  }
}

.background {
  position: absolute;
  right: 0;
  bottom: -60vh;
  background-image: url(../public/images/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 40%;
  height: 40vh;
  z-index: -1;
}



